.frame{display:flex}
.left{background-color: red;
      flex:none;
      width:300px}
.right{display:flex;   /* 讓下一個層次項目水平排列 */
    justify-content: flex-end;
    background-color: blue;
      flex:auto
      }
.Welcome{display:flex;
    justify-content:center ;
    align-items: center;
    background-color: aquamarine;
    height: 500px;
}

.text{
    text-align:center

}